{% extends "base.html"%}

{% block content %}

<!-- HEADER / BANNIERE -->
<section class="background-slideshow">

    <div class="bg bg1">
        <div class="sbg">
            <h1>{{texts.bg1}}</h1>
            <p>{{texts.bg11}}</p>
        </div>
    </div>
    <div class="bg bg2">
        <div class="sbg">
            <h1>{{texts.bg2}}</h1>
            <p>{{texts.bg21}}</p>
        </div>
    </div>
    <div class="bg bg3">
        <div class="sbg">
            <h1>{{texts.bg3}}</h1>
            <p>{{texts.bg31}}</p>
        </div>
    </div>
    <div class="bg bg4">
        <div class="sbg">
            <h1>{{texts.bg4}}</h1>
            <p>{{texts.bg41}}</p>
        </div>
    </div>

</section>

<!-- ===================== MESSAGE CEO ===================== -->
<section class="m_page_content container py-5">

    <h2 class="fw-bold text-dark text-center mb-5">{{texts.apropos}}</h2>

    <div class="row justify-content-center g-4">

        <div class="col-md-6 text-end">
            <img src="{{ url_for('static', filename='img/Pre.jpg')}}" alt="" class="rounded" style="width: 100%; height:auto;">
        </div>

        <div class="col-md-6 text-dark">
            <div class="">
                <h4 class="fw-bold">{{ texts.ceo_title }}</h4>
                <p class="">{{ texts.ceo_text }}</p>
                <p> {{ texts.ceo_text1}} </p>
                <p> {{ texts.ceo_text2}} </p>
                <p> {{ texts.ceo_text3}} </p>
                <h5>Nathalie EMBELA</h5>
            </div>
        </div>

    </div>
</section>

<!-- ===================== HISTOIRE ===================== -->
<section class="about_ong py-5 px-3">

    <div class="mb-5 text-center container">
        <h1 class="fw-bold">{{ texts.motto }}</h1>

    </div>

    <div class="row justify-content-center gap-3">

        <div class="col-md-4 wow animate__animated animate__fadeInLeft" data-wow-delay="1000ms">
            <img src="{{ url_for('static', filename='img/droits_h.jpg')}}" alt="" class="w-100">
        </div>


        <div class="col-md-5 wow animate__animated animate__fadeInRight" data-wow-delay="1000ms">
            <p>{{ texts.history_1 }}</p>
        </div>
    </div>

</section>


<section class="histo_ong12 py-5 p-3">

    <div class="row justify-content-center">

        <div class="col-md-4 wow animate__animated animate__fadeInLeft" data-wow-delay="1000ms">
            <p class="">{{ texts.history_2 }}</p>
        </div>

        <div class="col-md-5 wow animate__animated animate__fadeInRight" data-wow-delay="1000ms">
            <img src="{{ url_for('static', filename='img/community.jpg')}}" alt="" class="w-100 rounded">
        </div>

    </div>

</section>

<!-- ===================== STRUCTURE ONG ===================== -->
<section class="structure">

    <div class="struct_all">

        <!-- Mission -->
        <div class="missi">
            <h3 class="fw-bold">{{ texts.mission_title }}</h3>
            <p>{{ texts.mission_text }}</p>
        </div>

        <!-- Vision -->
        <div class="vis">
            <h3 class="fw-bold">{{ texts.vision_title }}</h3>
            <p>{{ texts.vision_text }}</p>
        </div>

        <!-- Valeurs -->
        <div class="val">
            <h3 class="fw-bold">{{ texts.values_title }}</h3>
            <ul>
                <li>
                    <strong>{{ texts.value_amour }} :</strong>
                    {{ texts.value_amour_text }}
                </li>
                <li>
                    <strong>{{ texts.value_dynamisme }} :</strong>
                    {{ texts.value_dynamisme_text }}
                </li>
                <li>
                    <strong>{{ texts.value_professionnalisme }} :</strong>
                    {{ texts.value_professionnalisme_text }}
                </li>
            </ul>
        </div>

    </div>

</section>

{% include "composants/cta.html" %}


<!-- =================== NOTRE TEAM ECRAN DESKTOP ========================= -->
<section class="p-3 d-none d-md-block">
    <div class="py-5 text-center">
        <h1 class="fw-bold text-dark text-center mb-5"> {{texts.equipe}}</h1>
        <div class="row gap-4 justify-content-center">

            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Pre.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Nathalie EMBELA</h5>
                    <p class="card-text">Présidente fondatrice</p>
                </div>
            </div>

            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Vp.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Nathan MBAYABU</h5>
                    <p class="card-text">Vice-Président</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/SecGen.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Dieu Merci LUSAMBA</h5>
                    <p class="card-text">Secrétaire Général</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Com.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Grâce MUJINGA</h5>
                    <p class="card-text">Relations Publiques</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Cg.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Israel AMUDIANDROY</h5>
                    <p class="card-text">Responsable du Département de droit</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Rp.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Junior MAWESHO</h5>
                    <p class="card-text">Conseiller Juridique</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/IT.png')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Lajoie MUANZA</h5>
                    <p class="card-text">IT</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Auto.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Jenny NGALULA</h5>
                    <p class="card-text">Communication</p>
                </div>
            </div>


            <div class="card col-md-2">
                <img src="{{ url_for('static', filename='img/Deli.jpg')}}" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Delira TSHAMA</h5>
                    <p class="card-text">Responsable du Département d’autonomisation de la femme</p>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- =================== NOTRE TEAM ECRAN MOBILE ========================= -->
<section class="px-3 py-5 d-lg-none ">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/Pre.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Nathalie EMBELA</h5>
                <p>{{texts.pre}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Vp.jpg')}}" class="d-block w-100" alt="...">

            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Nathan MBAYABU</h5>
                <p>{{texts.v_pre}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/SecGen.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Dieu merci LUSAMBA</h5>
                <p>{{texts.sg}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Rp.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Junior MAWESHO</h5>
                <p>{{texts.cj}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Com.jpg')}}" class="d-block w-100" alt="...">

            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Grâce MUJINGA</h5>
                <p>{{texts.rp}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Cg.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Israel AMUDIANDROY</h5>
                <p>{{texts.rd_d}}</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/IT.png')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Lajoie MUANZA</h5>
                <p>{{texts.it}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Deli.jpg')}}" class="d-block w-100" alt="...">

            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Delira TSHAMA</h5>
                <p> {{texts.rd_af}} </p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/Auto.jpg')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <h5 class="fw-bold">Jenny NGALULA</h5>
                <p>{{ texts.com }} </p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    </div>

</section>


{% endblock %}