{% extends "base.html" %}
{% block content %}

<section class="hero">
    
    <h1>Faire un don</h1>

    <p>
        Votre soutien change des vies. Ensemble, 
        nous pouvons bâtir un avenir plus juste, 
        plus inclusif et plus solidaire.
    </p>

</section>

<div class="donate_div">

    <div class="donate_pourquoi">

        <h3>Pourquoi donner ?</h3>

        <p class="mb-4">Chaque contribution, quelle que soit sa taille, nous aide à :</p>

        <ul>
            <li> <i class="bi bi-check-circle text-success"></i> Défendre les droits humains</li>
            <li> <i class="bi bi-check-circle text-success"></i> Autonomiser les femmes</li>
            <li> <i class="bi bi-check-circle text-success"></i> Offrir l’accès à la technologie</li>
            <li> <i class="bi bi-check-circle text-success"></i> Financer des formations et programmes communautaires</li>
        </ul>

    </div>


    <div class="donate_formulaire">

        <h3 class="fw-bold text-center">Faire un don maintenant</h3>
        
        <form method="POST" action="/create-donation" class="card_form">

            <input name="name" placeholder="Nom complet" required >

            <input type="email" name="email" placeholder="Email" required >

            <input type="number" name="amount" placeholder="Montant USD" required >


            <h4 class="mt-4 fw-bold">Moyen de paiement</h4>

            <div class="payment_choice">

                <label class="text-center">
                    <input type="radio" name="payment_method" value="mobile" checked style="width: 50px;">
                    <i class="bi bi-phone fs-2"></i>
                    Mobile Money
                </label>

                <label class="text-center">
                    <input type="radio" name="payment_method" value="card" style="width: 50px;">
                    <i class="bi bi-credit-card-2-back-fill fs-2"></i>
                    Carte bancaire
                </label>

            </div>

            <!-- MOBILE MONEY -->
            <div class="" id="mobile_container">

                <div class="card_box">

                    <div class="card_title">

                        <div>
                            <h4 class="text-dark fw-bold">Paiement par Mobile money</h4>
                        </div>

                        <div class="d-flex justify-content-around gap-3">
                            <img src="{{url_for('static', filename='/img/iconpay/m-pesa.svg')}}" alt="" style="width: 50px; height:auto;">
                            <img src="{{url_for('static', filename='/img/iconpay/orange-money.png')}}" alt="" style="width: 35px; height:auto;">
                            <img src="{{url_for('static', filename='/img/iconpay/airtel.svg')}}" alt="" style="width: 40px; height:auto;">
                        </div>

                    </div>

                    <div class="card_form text-secondary">

                        <div>
                            <label>Réseau Mobile Money</label>
                            <select name="network" required >
                                <option value="">Choisir un réseau</option>
                                <option value="airtel">Airtel Money</option>
                                <option value="orange">Orange Money</option>
                                <option value="mpesa">M-Pesa</option>
                            </select>
                        </div>

                        <div class="">
                            <div>
                                <label>Numéro Mobile Money</label>
                                <input type="tel" name="phone" placeholder="243XXXXXXXXX" >
                            </div>
                        </div>


                    </div>

                    <div class="secure_notice text-secondary">

                        <i class="bi bi-lock-fill"></i> Paiement sécurisé

                        <br>

                        Après validation,
                        une demande sera envoyée
                        sur votre téléphone.

                        Confirmez avec votre PIN.

                    </div>

                </div>

            </div>

            <!-- CARTE -->
            <div class="" id="card_container" style="display:none;">

                <div class="card_box">

                    <div class="card_title">

                        <div>
                            <h4 class="text-dark fw-bold">Paiement par carte bancaire</h4>
                        </div>

                        <div class="d-flex">
                            <img src="{{url_for('static', filename='/img/iconpay/visa.svg')}}" alt="">
                            <img src="{{url_for('static', filename='/img/iconpay/mastercard2.svg')}}" alt="">
                        </div>

                    </div>

                    <div class="card_form text-secondary">

                        <div>
                            <label>Numéro de carte</label>
                            <input name="card_number" type="text" inputmode="numeric" maxlength="19" id="card_number" placeholder="1234 5678 9012 3456" autocomplete="cc-number">
                        </div>

                        <div class="row">
                            <div>
                                <label>Date d'expiration</label>
                                <input name="card_expiry" type="text" id="card_expiry" maxlength="5" placeholder="MM/AA" autocomplete="cc-exp">
                            </div>


                            <div>
                                <label>CVV</label>
                                <input name="card_cvv" type="password" maxlength="4" id="card_cvv" placeholder="123" autocomplete="cc-csc">
                            </div>
                        </div>

                        <div>
                            <label>Nom sur la carte</label>
                            <input name="card_holder" type="text" id="card_holder" placeholder="Nom du titulaire" autocomplete="cc-name">
                        </div>

                    </div>

                    <div class="secure_notice text-secondary">

                        <i class="bi bi-lock-fill"></i> Paiement sécurisé

                        <br>

                        Au clic sur
                        <b>Payer maintenant</b>,
                        Flutterwave ouvrira
                        la validation sécurisée
                        (3D Secure / banque).

                    </div>
                </div>
            </div>

            <button type="submit">Payer maintenant</button>
        </form>

    </div>


    <div class="donate_trans">
        <h3>Transparence</h3>
        <p>
            Nous croyons en une utilisation responsable 
            et transparente de chaque don. Un rapport 
            annuel détaillé est publié pour montrer 
            l’impact de vos contributions.
        </p>
    </div>

</div>




<!-- JS POUR LA CARTE BANCAIRE-->
<script>

    const cardInput =
    document.getElementById("card_number")

    cardInput?.addEventListener("input", function() {

    let value =
    this.value.replace(/\D/g,"").substring(0,16)

    value = value.match(/.{1,4}/g)?.join(" ")

    ||

    ""
    this.value =value
    }

    )



    const expiry = document.getElementById("card_expiry")

    expiry?.addEventListener("input", function() {

    let v =
    this.value.replace(/\D/g, "")

    .substring(0,4)

    if(v.length>=3){
        v = v.slice(0,2)+"/"+v.slice(2)
    }

    this.value = v

    }

    )

</script>


<!-- CHANGEMENT DE SYSTEME DE PAIEMENT -->
<script>

    const mobileBox = document.getElementById(
    "mobile_container"
    )

    const cardBox = document.getElementById(
    "card_container"
    )

    document.querySelectorAll('input[name="payment_method"]'
    ).forEach(

    el=>{el.addEventListener(

    "change",

    ()=>{

    if(el.value==="mobile"){

    mobileBox.style.display=
    "block"

    cardBox.style.display=
    "none"

    }

    else{

    mobileBox.style.display=
    "none"

    cardBox.style.display=
    "block"

    }

    }

    )

    }

    )

</script>


{% endblock %}